<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liQing.dao.UserMapper">

    <!--用户分页与多条件查询-->
    <select id="findAllUserByPage" parameterType="com.liQing.domain.UserVo" resultType="com.liQing.domain.User">
        select * from user
        <where>
            <if test="true">
                and is_del != 1

            </if>
            <if test="username != null and username != ''">
                and name=#{username}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>

        </where>
    </select>

    <!--根据用户名查询用户-->
    <select id="login" parameterType="com.liQing.domain.User" resultType="com.liQing.domain.User">
        select * from user where phone=#{phone}
    </select>

    <!--根据用户id查询关联的角色信息-->
    <select id="findUserRelationById" parameterType="int" resultType="com.liQing.domain.Role">
        select * from roles r inner join user_role_relation ur on url.role_id=r.id where ur.user_id=${userId}
    </select>

    <!--清空中间表-->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id=#{userid}
    </delete>

    <!--分配角色-->
    <insert id="userContextRole" parameterType="com.liQing.domain.User_Role_relation">
        insert into user_role_relation values(null,#{userId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--根据角色id,查询角色所拥有的顶级菜单-->
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="com.liQing.domain.Menu">
        select DISTINCT m.*
        from roles r
                 inner join role_menu_relation rm on r.id = rm.role.id
                 inner join menu m on m.id = rm.menu_id
        where m.parent_id=-1 an r.id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <!--//根据pid查询子菜单信息-->
    <select id="findSubMenuByPid" parameterType="int" resultType="com.liQing.domain.Menu">
        select * from menu where parent_id = #{id}
    </select>

    <!--//获取用户拥有的资源权限信息-->
    <select id="findResourceByRoleId" parameterType="java.util.List" resultType="com.liQing.domain.Resource">
        select DISTINCT r.*
        from resource r
                 inner join role_resource_relation rr on r.id = rr.resource_id
                 inner join roles ro on ro.id = rr.role_id
        where ro.id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item }
        </foreach>
    </select>
</mapper>